#share-buttons a, #share-buttons-share-count {
    float: left;
}

#share-buttons-clearfix {
    clear: both;
}

#share-buttons .share-buttons-button-wrapper {
    float: left;
    text-align: center;
    margin-left: 5px;
}

.share-buttons-share-count {
    height: 20px;
    font-size: 14px;
    line-height: 20px;
}
